
img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 7px solid #e9ecef;
}


h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 32px;
  padding: 0 5%;
}

figcaption {
  font-family: 'Rubik', sans-serif;
  transform: scale(1.5);
  padding-top: 3%;
}

#ada img:hover {
  border: 10px solid #400080;
}

#grace img:hover {
  border: 10px solid #990000;
}

#katherine img:hover {
  border: 10px solid #4d4d4d;
}

/*media queries for header1*/
@media only screen
  and (min-device-width: 768px) {
    h1 {
      font-size: 40px;
    }
  }

  @media only screen
    and (min-device-width: 992px) {
      h1 {
        font-size: 60px;
      }
    }

      /*STYLING CONTENT PAGES*/

blockquote p {
  font-size: 20px;
  text-align: center;
  font-style: oblique;
  }

  @media only screen
    and (min-device-width: 768px) {
    blockquote p {
        font-size: 25px;
      }
    }

    @media only screen
      and (min-device-width: 992px) {
        blockquote p {
          font-size: 30px;
        }
      }

footer p {
  text-align: center;
}

ul {
list-style: none;

}

ul li  {
color: white;
}


#words .row {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: url("../images/Ada-bg-gs.jpg");

}

#blurred .row {
-webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: 1;
}

#words h4,
#words p {
color: white;
z-index: 10;
}
