* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

article, aside, footer, header, main, nav, section {
	display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 7px solid #e9ecef;
}

button, fieldset, input, textarea, select, fieldset {
	background: none;
	border: none;
	border-radius: 0px;
	outline: 0;
	-webkit-appearance: none;
}

.jumbotron {
  max-height: 300px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 3.5vw;
}

figcaption {
  font-family: 'Rubik', sans-serif;
  transform: scale(1.5);
  padding-top: 3%;
}

#ada img:hover {
  border: 10px solid #400080;
}

#grace img:hover {
  border: 10px solid #990000;
}

#katherine img:hover {
  border: 10px solid #4d4d4d;
}
